.block--clients {
    .subtitle {
        width: 650px;
        

        @include media-max(795px) {
            flex: 1;
        }

        b, strong {
            color: $accent-color;
        }
    }

    .block__header .circle-icon {
        align-self: flex-start;
    }

    .block__header__lines {
        width: 300px;
        height: $padding * 4;
        top: 50%;
    }
}

.clients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $padding * 2;
    margin-top: $padding * 4 - 4;

    @include media-max(1024px) {
        margin-top: $padding * 2 - 4;
    }

    @include media-max(768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include media-max(580px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-max(425px) {
        grid-gap: $padding;
    }

}

.client {
    padding: $padding / 2;
    border: 1px dashed $border-color;
    flex-basis: 25%;
    box-sizing: border-box;

    @include media-max(768px) {
        flex-basis: auto;
    }

    &:nth-last-child(2) {
        grid-column: 2 / 3;

        @include media-max(768px) {
            grid-column: auto;
        }
    }

    &:last-child {
        grid-column: 3 / 4;

        @include media-max(768px) {
            grid-column: auto;
        }
    }
    
}

.client__image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}