.header {
    font-size: 1.6rem;
    font-weight: 500;
    height: $header-first-line-height + $header-height;

    @include media-max(825px) {
        height: $header-first-line-height + $header-height * 0.7;
    }

    & .menu {
        @include media-max(825px) {
            display: none;
        }
    }

    &__logo {
        @include media-max(825px) {
            width: 163px;
            display: block;
        }
    }
}

.header__info {
    background-color: $header-first-line-color;
    height: $header-first-line-height;
    color: #FFF;

    .container {
        display: flex;
    }
}

.header__float {
    background-color: $background-color;
    z-index: 3;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: $header-height;
        transition: height $transition;

        @include media-max(825px) {
            height: $header-height * 0.7;
        }
    }
}

body.float-header {
    .header__float {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: $box-shadow;

        .container {
            height: $header-height * 0.8;

            @include media-max(825px) {
                height: $header-height * 0.6;
            }
        }
    }
}

.header__button {
    border-radius: 0;
    font-size: 1.1rem;
    padding: 0 $padding;
    height: $header-first-line-height;
    line-height: $header-first-line-height;
    margin-right: $padding * 2;

    @include media-max(480px) {
        display: none;
    }
}

.header__menu-toggler {
    display: none;

    @include media-max(825px) {
        display: block;
    }
}

.header__contacts {
    margin-left: auto;
    display: flex;

    @include media-max(825px) {
        margin-right: auto;
        margin-left: 0;
    }
}

.header__contact {
    margin-right: $padding * 2;
    display: flex;
    align-items: center;

    @include media-max(1140px) {
        display: none;
    }

    &--phone {
        display: none;

        @include media-max(1140px) {
            display: flex;
        }

        i {
            transform: rotate(98deg);
        }
    }

    i {
        color: $primary-color;
        margin-right: $padding / 2;
    }
}

.language {
    line-height: $header-first-line-height;
    padding: 0 $padding;
    text-transform: capitalize;
}


.header__categories {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: $padding * 2;

    @include media-max(825px) {
        display: none;
    }
}

.header__category {
    display: flex;
    align-items: center;
    height: 26px;

    &::before {
        content: '';
        display: block;
        height: 4px;
        width: 4px;
        border-radius: 2px;
        background-color: $primary-color;
        margin-right: $padding / 2;
    }
}

.header__phone {
    font-size: 2.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    @include media-max(1140px) {
        display: none;
    }

    .icon {
        margin-right: $padding;
    }
}

.logo {
    &__img {
        max-width: 100%;
        display: block;
        height: auto;
    }
}