.mob-menu {
    position: absolute;
    background-color: $input-color;
    z-index: 11;
    width: 100%;

    &__logo {
        margin: 4px;
    }

    &__content {
        height: auto;
    }

    &__main-link {
        display: block;
        padding: $padding * 0.75 $padding;
        background-color: $input-color;
        border-bottom: 1px solid $background-color;
        display: flex;
        align-items: center;
        transition: background-color $transition;

        &:hover,
        &:active,
        &:focus {
            background-color: darken($input-color, 7%);
        }
        
        &::before {
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $primary-color;
            margin-right: $padding * 0.75;
        }
    }

    &__second-list {
        background-color: #fff;
        padding: $padding * 0.5 0;
    }

    &__link {
        display: block;
        padding: $padding * 0.5 $padding;
        padding-left: $padding * 2;
        line-height: 1;
    }

    &__footer {
        padding: $padding;
        padding-bottom: $padding * 1.75;
        background-color: $input-color;

        & .header__contact {
            margin: 0;
            margin-bottom: $padding * 0.75;
        } 
    }

    &__button {
        width: 100%;
        font-size: 1.1rem;
        margin-top: $padding * 1.5;
        height: 40px;
        line-height: 1;
    }

    .header__contact {
        display: flex;
    }
}