.block--services {
    margin-top: 0;

    @include media-max(768px) {
        padding-top: $padding * 3;
    }

    @include media-max(560px) {
        padding-top: $padding * 2;
    }
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $padding * 2;

    @include media-max(1024px) {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: $padding * 2;
    }
    @include media-max(768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media-max(560px) {
        grid-template-columns: repeat(1, minmax(280px, 400px));
        justify-content: center;
    }
}

.service__title {
    font-size: 2rem;
    font-weight: bold;
    line-height: initial;
    min-height: 48px;
    display: block;

    @include media-max(560px) {
        flex: 1;
        font-size: 1.8rem;
        align-self: center;
    }
}

.service__icon {
    margin: $padding auto;

    &.circle-icon--left {
        @include media-max(560px) {
            margin-left: $padding;
         }
    }

    @include media-max(560px) {
       order: -1;
       margin: 0 $padding * 2 $padding 0;
    }

    &::before {
        content: '';
        display: block;
        border-bottom: 1px dashed $border-color;
        position: absolute;
        width: 100%;
        top: 34px;
        left: 50%;
        z-index: -1;

        @include media-max(560px) {
            content: none;
        }
    }
}

.service {
    @include media-max(560px) {
        display: flex;
        flex-wrap: wrap;
    }

    &:last-child {
        .service__icon {
            &:before {
                display: none;
            }
        }
    }
}

.service__text {
    font-size: 1.6rem;
    color: $font-color-grey;

    @include media-max(560px) {
        font-size: 1.4rem;
    }
}

.service__link {
    margin: $padding auto 0;
    text-align: center;
    display: block;
    width: fit-content;
    color: $primary-color;
    font-size: 1.6rem;
    text-decoration: underline;
    text-underline-position: under;
}