.block--steps {
    @include media-max(768px) {
        margin-top: 0;
    }
}

.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $padding * 3;
    margin-top: $padding * 3;

    @include media-max(1140px) {
        grid-template-columns: repeat(1, minmax(0, 530px));
        justify-content: center;
        grid-row-gap: 14px;
    }

    @include media-max(560px) {
        margin-top: $padding * 2;
    }
}

.step {
    background-color: bg($primary-color);
    border-radius: $border-radius;
    padding: $padding * 1.5 $padding $padding $padding;
    position: relative;

    @include media-max(1140px) {
        margin-right: 24px;
    }
    @include media-max(560px) {
        padding: $padding;
    }

    &:last-child {
        &::after {
            display: none;
        }

        .step__icon {
            &::after {
                display: none;
            }
        }
    }

    &::after {
        content: none;
        display: block;
        position: absolute;
        height: 24px;
        width: 13px;
        bottom: -17px;
        left: 50%;
        transform: translateX(-50%);
        background-size: cover;
        background-image: url($img-path + "arrow-right.svg");
        transform: rotate(90deg);

        @include media-max(1140px) {
            content: '';
        }
    }
}

.step__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: $padding / 2;

    @include media-max(560px) {
        font-size: 1.8rem;
    }
}

.step__text {
    font-size: 1.6rem;
    padding-right: 35px;

    p {
        margin: 0;
    }
}

.step__icon {
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 35px;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    right: 0;
    box-sizing: border-box;
    margin-top: -35px;
    margin-right: -35px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 24px;
        right: -9px;
        height: 18px;
        background-size: cover;
        width: 10px;
        margin: 0 2px -1px 0;
        background-image: url($img-path + "arrow-right.svg");

        @include media-max(1140px) {
            display: none;
        }
    }
}