$primary-color: #007dc4;
$accent-color: #db2820;

$background-color: #fff;
$backface-color: #fff;

$heading-background-color: #ebf9fa;

$header-first-line-color: #163149;
$footer-color: #163149;

$font-color: #022749;
$font-color-heading: $font-color;
$font-color-grey: #6e839d;
$font-color-light: #fff;
$font-color-accent: #0299eb;

$success-color: #2db86e;
$error-color: $accent-color;

$border-color: #dbe7f3;

$input-color: #dbe7f3;
